{{!-- Flash Messages --}}
{{#if success_messages}}
{{#each success_messages}}
<div class="alert alert-success mt-3">
    {{this}}
</div>
{{/each}}
{{/if}}

{{#if error_messages}}
{{#each error_messages}}
<div class="alert alert-danger mt-3">
    {{this}}
</div>
{{/each}}
{{/if}}