<!-- Navbar for login page -->
<nav class="navbar navbar-dark bg-dark flex-shrink-0">
    <!-- Container wrapper -->
    <div class="container-fluid justify-content-center">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Grapple Gears</a>

    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar for login page -->