<!-- Navbar for login page only -->
<nav class="navbar navbar-dark bg-dark flex-shrink-0">
    <!-- Container wrapper -->
    <div class="container-fluid justify-content-center">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
            <img src="/images/favicon.ico" style="height: 2rem; margin: 0 0.25rem">
            Grapple Gears
        </a>
    </div>
</nav>