<!-- Navbar Other Pages-->
<nav class="navbar navbar-dark bg-dark flex-shrink-0">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
            aria-controls="offcanvas">
            <span class="navbar-toggler-icon">
        </button>

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
            <img src="/images/favicon.ico" style="height: 2rem; margin: 0 0.25rem">
            Grapple Gears
        </a>

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            {{#if user}}
            <span class="text-light me-3">Hi, {{user.first_name}}</span>
            {{/if}}
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                    <img src="/images/avatar.png" class="rounded-circle" height="25"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/login/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar Other Pages-->