{{!-- Page Footer --}}
<footer class="bg-dark text-center text-white flex-shrink-0">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Email -->
            <a class="btn btn-outline-light m-1" target="_blank" rel="noreferrer noopener"
                href="mailto:benedictwcy@hotmail.com" role="button"><i class="bi bi-envelope-fill"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light m-1" target="_blank" rel="noreferrer noopener"
                href="https://www.linkedin.com/in/benedictwcy/" role="button"><i class="bi bi-linkedin"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light m-1" target="_blank" rel="noreferrer noopener"
                href="https://github.com/nanometre" role="button"><i class="bi bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{year}}
        <span class="text-white">nanometre. For educational purpose only.</span>
    </div>
    <!-- Copyright -->
</footer>
{{!-- Page Footer --}}