<!-- Offcanvas Sidebar-->
<div class="offcanvas offcanvas-start bg-dark bg-gradient" style="width: 250px" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasLabel"><img src="/images/grapple-gears-logo.png" style="height: 2rem; margin: 0 0.25rem"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="sidebarSupportedContent">
        <ul style="list-style: none; padding-left: 0">
            <li class="nav-item">
                <a href="/orders" class="nav-link text-white">Orders</a>
            </li>
            <li class="nav-item">
                <a href="/products" class="nav-link text-white">Products</a>
            </li>
            <li class="nav-item">
                <a href="/users" class="nav-link text-white">Users</a>
            </li>
        </ul>
    </div>
</div>
<!-- Offcanvas Sidebar-->