<!-- Sidebar -->
<div class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient align-items-start">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="sidebarSupportedContent">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 170px; height: 100%"
            id="sidebarSupportedContent">
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/products" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/products/labels" class="nav-link text-white">Product Labels</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Users</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Collapsible wrapper -->
</div>
<!-- Sidebar -->