<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Grapple Gears</title>
</head>

<body>
    <div class="min-vh-100 d-flex flex-column align-items-stretch">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-shrink-0">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarSupportedContent" aria-controls="sidebarSupportedContent"
                    aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                </button>

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">Grapple Gears</a>

                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            style="color: white">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                                height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">My profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->

        <div class="flex-shrink-0 flex-grow-1 d-flex flex-row">
            <!-- Sidebar -->
            <div class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient align-items-start">
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="sidebarSupportedContent">
                    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 170px; height: 100%" id="sidebarSupportedContent">
                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a href="/products" class="nav-link text-white">Products</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">Product Labels</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">Users</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Sidebar -->
            <div class="container">
                {{#block "content"}}
                {{/block}}
            </div>
        </div>

        <footer class="bg-dark text-center text-white flex-shrink-0">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Email -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noreferrer noopener"
                        href="mailto:benedictwcy@hotmail.com" role="button">Email Icon</a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noreferrer noopener"
                        href="https://www.linkedin.com/in/benedictwcy/" role="button">LinkedIn Icon</a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noreferrer noopener"
                        href="https://github.com/nanometre" role="button">Github Icon</a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © {{year}}
                <span class="text-white">nanometre. For educational purpose only.</span>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    {{!-- Bootstrap JS --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {{#block 'js'}}
    {{/block}}
</body>

</html>