{{#extends 'base'}}

{{#block 'content'}}
    <h1>Login</h1>
    <div><img src="/images/carousel.jpg" class="w-50"></div>
    <form method="POST">
        {{> csrf}}
        {{{loginForm}}}
        <input type="submit" class="btn btn-primary my-3" value="Login">
    </form>
    <div>
        <p>email: bwcy@hotmail.com password: badass11 type: owner</p>
        <p>email: clsq@gmail.com password: catcatcat type: manager</p>
        <p>email: jonjon@yahoo.com password: dogdogdog type: customer</p>
    </div>
{{/block}}

{{/extends}}