{{#extends 'base'}}

{{#block 'content'}}
    <h1>Login</h1>
    <div><img src="./images/carousel.jpg" class="w-50"></div>
    <form method="POST">
        {{{loginForm}}}
        <input type="submit" class="btn btn-primary my-3" value="Login">
    </form>
{{/block}}

{{/extends}}