{{#extends 'base'}}

{{#block 'content'}}
<h1>Updating user details for "{{user.email}}"</h1>
<form method="POST">
    {{> csrf}}
    {{{userForm}}}
    <div class="btn-group btn-group-sm">
        <a href='/users' class="btn btn-secondary btn-sm my-3">Cancel</a>
        <input type="submit" value="Update User" class="btn btn-primary btn-sm my-3">
    </div>
</form>
{{/block}}

{{/extends}}