{{!-- Cloudinary Widget Trigger --}}
<div>
    <label class="mt-3 d-block">Image</label>
    {{#if variant.product_image_url}}
    <a href="#" class="btn btn-primary btn-sm mt-2 mx-auto" id="upload_widget">Change Image</a>
    <img src="{{variant.product_image_url}}" class="mt-3 mx-auto" style="display: block; width: 30vw" id="uploaded_image" />
    {{else}}
    <a href="#" class="btn btn-primary btn-sm mt-2" id="upload_widget">Upload Image</a>
    <img src="" class="mt-3 mx-auto" style="display: none; width: 30vw" id="uploaded_image" />
    {{/if}}
</div>