{{!-- Cloudinary Widget Trigger --}}
<div class="mt3 ">
    <a href="#" class="btn btn-primary btn-sm mt-3" id="upload_widget">Upload Image</a>
    <img src="" class="mt-3 mx-auto" style="display: none; width: 40%" id="uploaded_image" />
</div>