{{#extends 'base'}}

{{#block 'content'}}
<h1>Deleting: {{product.product_name}}</h1>
<div class="alert alert-danger">
    <p>Are you sure you want to delete <strong>{{product.product_name}}</strong>? This action is irreversible.</p>
    <form method="POST">
        <div class="btn-group btn-group-sm">
            <a href="/products" class="btn btn-secondary btn-sm">Cancel</a>
            <input type="submit" value="Delete Product" class="btn btn-danger btn-sm">
        </div>
    </form>
</div>

{{/block}}

{{/extends}}