{{#extends 'base'}}

{{#block 'content'}}
<h1>Product Labels</h1>
<h5>Add new labels for products here!</h5>
<form method="POST">
    {{> csrfToken}}
    {{{materialForm}}}
    <div class="btn-group btn-group-sm">
        <input type="submit" value="Add Material" class="btn btn-primary btn-sm my-3">
    </div>
</form>
{{/block}}

{{/extends}}